{% block content %}
<div class="container-fluid p-4">





    <div class="d-flex justify-content-between align-items-center mb-4">
        <h5 class="dashboard-header mb-0" style="border-bottom: none;">
            <i class="bi bi-journal-bookmark-fill me-2"></i>List of Thesis Titles
        </h5>

    </div>

    <div class="row bg-body-secondary  rounded-0 mb-2 p-1">

        <div class="bg-white p-2">
            <div class="col-md-12 d-flex justify-content-between align-items-center mb-2">
                <div d-flex justify-content-between align-items-center>
                    <button class="btn btn-sm btn-outline-primary"> Approve Thesis

                    </button>

                    <button class="btn btn-sm btn-outline-primary"> Denied Thesis

                    </button>

                    <button class="btn btn-sm btn-outline-primary"> UnApprove Thesis

                    </button>



                </div>

                <div>
                    <input type="text" class="form-control" placeholder="Search . . . . . . " id="txt_searchItems"
                        style="width: 300px;">
                </div>


            </div>

            <div class="card p-4">
                <div class="card-body">
                    <table class="table table-hover table-striped" id="list_unapproved_thesis">
                        <thead>
                            <th></th>
                            <th>Title</th>

                            <th>Control Number</th>
                            <th>Status</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            {% for thesis in unapproved_thesis_list %}
                            <tr>
                                <td> {{loop.index}} </td>
                                <td>{{ thesis.title }}</td>
                                <td>{{ thesis.researchNumber }}</td>

                                <td>{{ thesis.status }}</td>

                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item">Details</a></li>
                                            <li><a class="dropdown-item">Approve</a></li>
                                            <li><a class="dropdown-item">Denied</a></li>

                                        </ul>



                                    </div>


                                </td>



                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>


        </div>
    </div>



</div>




{% endblock %}